*{
    margin:0;
    pading:0;
}

@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap');

@font-face{
    font-family: 'valorant';
    src: url(font/Valorant\ Font.ttf) format('truetype');
}

@font-face{
    font-family: 'quantico';
    src: url(font//Quantico-Regular.ttf) format('truetype');
}

@font-face{
    font-family: 'quantico bold';
    src: url(font//Quantico-Bold.ttf) format('truetype');
}

@font-face{
    font-family: 'righteous';
    src: url(font//Righteous-Regular.ttf) format('truetype');
}

.body{
    width: 100%;
    margin:0 auto;
    background-image: url(assets/maps/mapsbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}

.bodytop{
    display:flex;
    flex-direction: column;
    border-bottom:5px solid white;
    margin-bottom: 20px;
    padding-top: 50px;
}

.bodytitle{
    text-align:left;
    align-items: center;
    margin: 30px;
}

.bodytitle h1{
    color: white;
    font-family: 'valorant';
    font-size: 30pt;
}

.bodylist{
    display:flex;
    justify-content: space-around;
    font-family: 'quantico';
    text-align: left;
    
}

.list{
    font-size: 15pt;
}

.list p{
    padding:5px;
}

.bodydesc{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.desctitle{
    margin-bottom: 20px;
}

.desctitle h2{
    background-color: purple;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
    padding:5px;
    color:white;
    font-family: 'quantico bold';
}

.descbox{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.descimg img{
    width: 800px;
    margin: 30px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

#NormalImg{
    cursor: pointer;
    transition: 0.3s;
}

#NormalImg:hover {
    opacity: 0.9;
}

.zoomed {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.isiZoom {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#teks {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.isiZoom, #teks {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.X {
    position: absolute;
    top: 80px;
    right: 80px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
  .X:hover,
  .X:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.desctxt{
    text-align: left;
    font-size: 15pt;
    font-family: 'righteous';
    word-spacing: 5px;
}

.desctxt p{
    margin: 50px;
}

.bodyblue{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'quantico bold';
}

.imgblue p{
    margin-bottom: 10px;
}

.bluetitle{
    background-color: purple;
    color: white;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
    font-family: 'quantico bold';
}

.bluetitle h2{
    padding: 5px;
    text-align: center;
}

.imgblue img{
    margin:20px;
    width: 680px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);

}

.bodygal{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'quantico bold';
}

.galtitle{
    text-align: center;
    align-items: center;
    
}

.galtitle h2{
    background-color: purple;
    padding: 5px;
    color: white;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
    font-family: 'quantico bold';
}

.imgflexgal{
    display: flex;
    justify-content: space-evenly;
}

.imggalery{
    align-items: center;
    margin: 20px;
}

.imggalery p{
    margin-top:5px;
}

.imggalery img{
    width: 480px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);

}
