*{
    margin:0;
    pading:0;
}

.body{
    width: 1170px;
    margin:0 auto;
}

.bodytop{
    display:flex;
    flex-direction: column;
    border-bottom:5px solid black;
    margin-bottom: 20px;
}

.bodytitle{
    text-align:center;
    align-items: center;
}

.bodylist{
    display:flex;
    justify-content: space-evenly;
}

.list{
    border: 5px solid black;
}

.list p{
    padding:5px;
}

.bodydesc{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.desctitle{
    margin-bottom: 20px;
}

.desctitle h2{
    background-color: purple;
    padding:5px;
    color:white;
}

.descbox{
    display: flex;
    justify-content: space-between;
}

.descimg img{
    width: 360px;
}

.desctxt{
    text-align: left;
}

.desctxt p{
    margin: 50px;
}

.bodyblue{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bluetitle{
    background-color: purple;
    color: white;
}

.bluetitle h2{
    padding: 5px;
    text-align: center;
}

.imgblue img{
    margin:20px;
    width: 680px;
}

.bodygal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galtitle{
    text-align: center;
    align-items: center;
}

.galtitle h2{
    background-color: purple;
    padding: 5px;
    color: white;
}

.imgflexgal{
    display: flex;
    justify-content: space-evenly;
}

.imggalery{
    align-items: center;
    margin: 20px;
}

.imggalery p{
    margin-top:5px;
}

.imggalery img{
    width: 480px;
}
