@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap');

@font-face{
    font-family: 'valorant';
    src: url(font/Valorant\ Font.ttf) format('truetype');
}

@font-face{
    font-family: 'quantico';
    src: url(font//Quantico-Regular.ttf) format('truetype');
}

@font-face{
    font-family: 'quantico bold';
    src: url(font//Quantico-Bold.ttf) format('truetype');
}

@font-face{
    font-family: 'righteous';
    src: url(font//Righteous-Regular.ttf) format('truetype');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 0;
    scrollbar-width: thin;
    scrollbar-color: #a93bf4 white;
    font-weight: 100;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

a > img{
    width: 4rem;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 5rem;
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.wrapper-navbar{
    display: flex;
    font-family: 'Quantico';
    font-size: 18.72px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.navbar-text-wrapper{
    display: flex;
}

.navbar-text, .logo{
    color: #9575ff;
}

.wrapper-button-burger{
    display: none;
    align-items: center;
    justify-content: center;
}

.burger-button{
    background: none;
    border: none;
}

.burger-button i{
    font-size: 22pt;
    margin: 0;
}

i{
    margin-left: 0.5rem;
    color: #9575ff;
}

.dropdown{
    position: relative;
}

.dropdown-wrapper{
    display: none;
    left: 0;
    top: 5rem;
    width: 12rem;
    position: absolute;
    background-color: #9575ff;
    box-shadow:0 8px 15px -2px rgba(0, 0, 0, 0.2);
}

.dropdown-content{
    padding: 1rem 2rem;
    display: block;
    font-family: 'Quantico';
    color: white;
}

.dropdown:hover .dropdown-wrapper{
    display: block;
}

.navbar-text:hover, .navbar-text:hover i{
    color: #a93bf4;
}

.dropdown-content:hover{
    background-color: #a93bf4;
}

.title-res-center{
    display: none;
    justify-content: center;
    align-items: center;
    transform: translateX(-2rem);
}

.title-res-center h2{
    font-family: 'valorant';
    color: #9575ff;
}

.wrapper-button-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-button-navbar::before{
    content: '';
    width: 8px;
    height: 8px;
    background-color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
}

.border-button-navbar{
    position: relative;
    padding: 5px;
    border: 2px solid #9575ff;
}


.border-button-navbar::after{
    content: '';
    width: 8px;
    height: 8px;
    background-color: white;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.button-a::before{
    content: '';
    width: 20rem;
    height: 4rem;
    position: absolute;
    background-color: white;
    top: 0;
    left: -22rem;
    z-index: -1;
    transform: skew(-10deg);
    transition: 0.5s;
}

.button-a{
    color: white;
    background-color: #9575ff;
    overflow: hidden;
    position: relative;
    display: block;
    border: 2px solid transparent;
    padding: 0.5rem 2rem;
    font-family: 'quantico';
    font-size: 14px;
}

.wrapper-button-navbar:hover .border-button-navbar::after,
    .wrapper-button-navbar:hover .border-button-navbar::before{
    background-color: #9575ff;
}

.wrapper-button-navbar:hover .button-a::before{
    left: -5rem;
}

.wrapper-button-navbar:hover .button-a{
    border: 2px solid #9575ff;
    color: #9575ff;
}

/* SIDEBAR */

.sidebar-responsive{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.3);
}

.wrapper-sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #9575ff;
    width: 0rem;
    transition: all 0.4s ease;
    transition-property: width;
}

.show-side{
    width: 20rem;
}

.wrapper-title-sidebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2rem;
    background-color: #a93bf4;
    border-bottom: 2px solid #9116e4;
}

.sidebar-close{
    width: max-content;
    background-color: transparent;
    border: none;
}

.sidebar-close i{ 
    color: white;
    margin: 0;
    font-size: 20pt;
}

.wrapper-content-sidebar{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: white #9575ff;
}

.section-content-sidebar{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.title-sidebar{ /* Text sidebar */
    color: white;
    font-family: 'valorant';
}

.sidebar-content{ /* Text sidebar */
    font-family: 'quantico';
    color: white;
    font-size: 14pt;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.caret-sidebar{
    color: white;
    margin-left: 1rem;
    transition: 0.4s;
}

.sidebar-dropdown{
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
    transition-property: height;
    margin: 0rem 0rem 0rem 3rem;
    height: 0;
    overflow: auto;
}

.show{
    height: 217.6px;
    margin: 0rem 0rem 0rem 3rem;
}

/* SECTION 1 */

.pre-reg::before{
    content: '';
    background-color: #9575ff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

.pre-reg{
    position: relative;
    overflow: hidden;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.pre-reg::after{
    content: '';
    background-color: #a93bf4;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: skew(-15deg);
    top: 0;
    right: -55%;
    box-shadow: 4px 16px 30px 10px rgba(0, 0, 0, 0.4);
    z-index: -2;
}

.wrapper-omen{
    z-index: -1;
}

.img-omen{
    width: 28rem;
    filter: drop-shadow(-10px 20px white);
    max-width: none;
}

.pre-reg .title{
    display: flex;
    flex-flow: wrap column;
    font-family: 'valorant';
    color: white;
}

.title-desktop{
    font-size: 120pt;
}

.title-nondesk{
    display: none;
}

.sub-title h2{
    font-family: 'quantico';
    font-size: 30pt;
}

.title-button{
    margin: 3rem 0rem;
    padding: 0rem 0rem 0rem 6rem;
}

.title-border-button::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    background-color: #9575ff;
    z-index: 1;
}

.title-border-button{
    position: relative;
    border: 2px solid white;
    padding: 5px;
    width: 20rem;
}

.title-border-button::after{
    content: '';
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 8px;
    height: 8px;
    background-color: #9575ff;
}

.title-button-a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -60rem;
    background-color: #9575ff;
    width: 40rem;
    height: 40rem;
    transform: skew(-10deg);
    transition: 0.8s;
    z-index: -1;
}

.title-button-a{
    position: relative;
    padding: 0.5rem 3rem;
    background-color: white;
    overflow: hidden;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'quantico';
    color: #9575ff;
    font-size: 20px;
}

.title-border-button:hover .title-button-a::before{
    left: -4rem;
}

.title-border-button:hover .title-button-a{
    border: 2px solid white;
    color: white;
}

.title-border-button:hover::before, .title-border-button:hover::after{
    background-color: white;
}
.triangle{
    position: absolute;
    border: 5rem solid white;
    border-right: 5rem solid transparent;
    border-top: 5rem solid transparent;
    width: 0%;
    height: 0%;
    bottom: 0;
    left: 0;
    filter: drop-shadow(5px 10px 24px rgba(0, 0, 0, 0.4));
}


/* SECTION 2 */


.news{
    padding: 2rem 4rem 13rem 4rem;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.news::after{
    content: 'LAFORANT';
    position: absolute;
    font-size: 255pt;
    top: 15rem;
    left: -5rem;
    color: #9575ff;
    font-family: 'quantico';
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #9575ff;
    z-index: -1;
    transform: rotate(30deg);
}

.news .title{
    padding: 2rem;
    font-family: 'righteous';
    color: #9575ff;
    font-size: 50pt;
    text-align: center;
}

.news .title h1{
    font-size: 90pt;
}

.board-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    flex-wrap: wrap;
}

.board{
    width: 35em;
    height: 25rem;
}

.slide-image::before{
    content: '';
    width: 150%;
    height: 100%;
    position: absolute;
    background-color: rgba(149, 117, 255, 0.5);
    transform: skew(-15deg);
    left: -80rem;
    transition: 0.5s;
    z-index: 1;
}

.wrapper-slide-image{
    width: 100%;
    height: 100%;
}

.slide-image{
    display: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-image img{
    width: 100%;
    height: 100%;
}

.image{
    background-color: #dddddd;
    position: relative;
    overflow: hidden;
}

.detail-image{
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'righteous';
    color: white;
    height: 35%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    border-radius: 0.2rem;
    opacity: 0;
    transition: 0.5s;
    z-index: 2;
    padding: 1.5rem;
}

.image:hover .detail-image{
    opacity: 1;
}

.image:hover .slide-image::before{
    left: -5rem;
}

.NT{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem;

}

.board-text-wrapper{
    position: relative;
}

.board-text-content{
    padding: 0rem 0.7rem 0.5rem;
    width: max-content;
    font-family: 'righteous';
    color: white;
    border-bottom: 6px solid white;
}

.board-text-wrapper::after{
    content: '';
    height: 2px;
    width: 94%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 2px;
    left: 0;
    z-index: -1;
}

.image .button-image{
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
    z-index: 2;
}

.image .button-image button{
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 1rem;
}

.image .button-image button i{
    font-size: 30pt;
    color: white;
    margin-left: 0;
}

.board-text-more{
    margin: 1rem 0rem;
    overflow-y: scroll; 
    height: 75%;
}

.board-text-more a{
    color: white;
    font-size: 18.72px;
    font-family: 'righteous';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.7rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    width: 95%;
}

.board-text-more a:hover{
    background-color: rgba(255, 255, 255, 0.15);
}

.board-text-more a span{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.wrapper-count{
    position: absolute;
    color: white;
    font-family: 'righteous';
    top: 1.5rem;
    left: 1.5rem;
    z-index: 2;
}


/* SECTION 3 */


.agents{
    background-image: linear-gradient(to bottom right, #9575ff 40%, #a93bf4 60%);
    padding: 2rem 4rem;
}

.agents-desktop{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.agents-responsive{
    display: none;
}

.agents-image-wrapper{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.image-jett, .image-raze{
    width: 28rem;
    filter: drop-shadow(-10px 20px white);
    position: relative;
    right: -4rem;
}

.image-raze{
    top: 6rem;
    left: -4rem;
    position: relative;
}

.agents-title-wrapper{
    width: 24rem;
    z-index: 1;
}

.agents-title{
    font-family: 'righteous';
    color: white;
    font-size: 70pt;
    padding-top: 7rem;
}

.agents-sub-title{
    padding: 1rem 0rem 1.5rem 0rem;
    font-family: 'quantico';
    color: white;
}

.agents-detail{
    padding-right: 1rem;
    font-family: 'quantico';
    color: white;
}

.agents-button{
    margin: 3rem 4rem 0rem 1rem;
}

.agents-border-button::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    background-color: #a93bf4;
    z-index: 1;
}

.agents-border-button{
    position: relative;
    border: 2px solid white;
    padding: 5px;
}

.agents-border-button::after{
    content: '';
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 8px;
    height: 8px;
    background-color: #a93bf4;
}

.agents-button-a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -60rem;
    background-color: #a93bf4;
    width: 40rem;
    height: 40rem;
    transform: skew(-10deg);
    transition: 0.6s;
    z-index: -1;
}

.agents-button-a{
    position: relative;
    padding: 0.5rem 1.5rem;
    background-color: white;
    overflow: hidden;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'quantico';
    color: #a93bf4;
    font-size: 20px;
}

.agents-button:hover .agents-button-a::before{
    left: -4rem;
}

.agents-button:hover .agents-button-a{
    border: 2px solid white;
    color: white;
}

.agents-button:hover .agents-border-button::before, .agents-button:hover .agents-border-button::after{
    background-color: white;
}


/* SECTION 4 */

.maps{
    background-image: url('assets/home/Icebox.jpg');
    height: 50rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: start;
    padding: 2rem 4rem;
}

.maps::before{
    content: '';
    background-image: linear-gradient(110deg, white 25%, transparent);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.maps-wrapper-title{
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.maps-title{
    font-family: 'righteous';
    font-size: 70pt;
}

.maps-sub-title{
    padding: 2rem 0rem 1.5rem 0rem;
    font-family: 'quantico';
}

.maps-detail{
    padding-right: 1rem;
    font-family: 'quantico';
}

.maps-button{
    margin: 4rem 14rem 0em 1rem;
}

.maps-border-button::before{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    background-color: black;
    z-index: 1;
}

.maps-border-button{
    position: relative;
    border: 2px solid black;
    padding: 5px;
}

.maps-border-button::after{
    content: '';
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 8px;
    height: 8px;
    background-color: black;
}

.maps-button-a::before{
    content: '';
    position: absolute;
    top: 0;
    left: -60rem;
    background-color: black;
    width: 40rem;
    height: 40rem;
    transform: skew(-10deg);
    transition: 0.6s;
    z-index: -1;
}

.maps-button-a{
    position: relative;
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    align-items: center;
    font-family: 'quantico';
    color: black;
    font-size: 20px;
}

.maps-button:hover .maps-button-a::before{
    left: -4rem;
}

.maps-button:hover .maps-button-a{
    color: white;
}

.maps-button:hover .maps-border-button::before, .maps-button:hover .maps-border-button::after{
    background-color: white;
}


/* FOOTER */


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: white;
}

.sect1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.sect1 img{
    width: 8rem;
}

.img-contact-wrapper{
    display: flex;
    border-left: 2px solid #dddddd;
    padding: 1.5rem 0rem;
}

.contact{
    font-size: 2rem;
    margin-left: 0.5rem;
}

.sect2{
    width: 40rem;
}

.sect2 p{
    margin: 1rem 0rem;
}

.terms .start{
    padding-right: 0.5rem;
    color: black;
}

.terms .mid{
    padding: 0rem 0.5rem;
    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
    color: black;
}

.terms .end{
    padding-left: 0.5rem;
    color: black;
}

.game-rated{
    width: 14rem;
}

/* RESPONSIVE */


@media screen and (min-width: 1536px) {
    body{
        max-width: 1536px;
        margin: auto;
        box-shadow: 0 8px 15px 10px rgba(0, 0, 0, 0.2);
    }
    html{
        background-color: #dddddd;
    }
}


@media screen and (max-width: 1250px) {
    .pre-reg{
        justify-content: center;
        padding-top: 2rem;
    }

    .pre-reg .title{
        position: absolute;
        top: 56%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .title-border-button::before{
        content: '';
        background-color: #a93bf4;
    }

    .title-button-a::before{
        content: '';
        background-color: #a93bf4;
    }

    .title-button-a{
        color: #a93bf4;
    }

    .title-border-button::after{
        content: '';
        background-color: #a93bf4;
    }

    .pre-reg::after{
        content: '';
        left: 0;
        transform: skew(0deg);
        background: linear-gradient(to top, #a93bf4 30%, transparent);
        box-shadow: none;
    }
    
    .title-desktop{
        display: none;
    }

    .title-nondesk{
        display: block;
        text-align: center;
        font-size: 120pt;
    }

    .title-button{
        display: flex;
        justify-content: center;
        padding: 0rem;
        margin: 1rem 0rem;
    }

    .wrapper-omen{
        z-index: -2;
    }

    .sub-title h2{
        text-align: center;
        margin: 1rem 4rem 4rem;
    }

    /* SECTION AGENTS */

    .agents-desktop{
        display: none;
    }

    .agents-responsive{
        display: initial;
    }

    .agents-title-wrapper{
        width: 40rem;
    }
    
    .agents-title{
        padding: 0rem;
    }

    .agents-sub-title{
        padding: 1rem 0rem;
        font-size: 24px;
    }

    .agents-detail{
        padding: 0rem;
        font-size: 16px;
    }

    .image-raze-res, .image-jett-res{
        width: 24rem;
        position: relative;
        bottom: -2rem;
        z-index: 1;
        filter: drop-shadow(-10px 20px white);
    }

    .image-raze-res{
        left: -3rem;
        bottom: -4rem;
    }

    .image-jett-res{
        right: -3rem;
    }

    .agents-button{
        margin: 0rem;
        position: absolute;
        bottom: 5rem;
        z-index: 1;
    }

    .agents-button-a{
        font-size: 20pt;
        padding: 0.5rem 3rem;
    }

    .agents-button-a{
        font-size: 16pt;
    }

    /* FOOTER */

    .footer{
        flex-direction: column;
        justify-content: center;
    }

    .sect2{
        text-align: center;
    }

    .sect2 p{
        margin: 2rem 0rem;
    }

    .game-rated{
        margin: auto;
    }
}


@media screen and (max-width: 900px){
    /* GLOBAL */
    
    .agents, .maps{
        padding: 2rem 2rem 2.5rem;
    }

    /* SECTION HEADER */

    .wrapper-button-navbar{
        display: none;
    }

    .navbar-text-wrapper{
        display: none;
    }

    .title-nondesk{
        font-size: 100pt;
    }

    .title-res-center{
        display: flex;
    }

    .wrapper-button-burger{
        display: flex;
    }

    /* SECTION PRE REG */
    
    .wrapper-omen{
        top: 52%;
    }

    /* SECTION AGENTS */

    .image-raze-res, .image-jett-res{
        width: 20rem;
    }

    .agents-detail{
        font-size: 16px;
    }

    .agents-button-a{
        font-size: 14pt;
        padding: 0.5rem 3rem;
    }

    .agents-title-wrapper{
        width: 35rem;
    }
    
    .agents-title{
        font-size: 60pt;
    }

    .agents-sub-title{
        font-size: 20px;
    }

    .agents-detail{
        font-size: 16px;
    }

    /* SECTION MAPS */

    .maps{
        height: 40rem;
    }

    .maps-wrapper-title{
        justify-content: unset;
        padding-top: 3rem;
    }

    .maps-detail{
        padding: 0;
    }

    .maps-button{
        position: absolute;
        bottom: 2rem;
        margin: 0;
        bottom: 4rem;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .maps-button-a{
        font-size: 14pt;
        padding: 0.5rem 3rem;
    }

    .maps-title{
        font-size: 60pt;
    }

    .maps-sub-title{
        font-size: 20px;
    }
}