*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 0;
}

@font-face {
    font-family: quantico;
    src: url(font/Quantico-Regular.ttf);
}

@font-face {
    font-family: valorant;
    src: url(font/Valorant\Font.ttf);
}

@font-face {
    font-family: righteous;
    src: url(font/Righteous-Regular.ttf);
}

a{
    color: inherit;
}

.home-button{
    position: absolute;
    padding: 1rem;
}

.home-button img{
    width: 80px;
}

.validation{
    color: red;
}

#body{
    display: flex;
    justify-content: space-between; 
    background-position: center;
    background-size: cover;
    position: relative;
}

.bg-image img{
    z-index: -1;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    position: fixed;
}

.register-title{
    margin: auto;
    padding-left: 1rem;
}

.register-header, .register-desc{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: righteous;
    color: white;
    padding: 1rem 0;
}

.register-header{
    font-size: 48px;
}

.register-desc{
    font-size: 24px;
    max-width: 600px;
}

.add-line-spacing{
    padding-bottom: 7px;
}

.form{
    margin: 1rem 2rem;
    float: right;
    width: 40%;
    padding: 1rem;
    box-shadow: 0 0 8px 2px black;
    background-color: #f9f9f9;
}

input, input[type="radio"] + label, input[type="checkbox"] + label:before, select option, select, input[type="button"]{
  width: 100%;
  padding: 6px;
  background-color: #f6f6f6;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  margin: 0;
  margin-bottom: -2px;
}

input:focus{
    background-color: rgb(230,230,230);
}

.fa-check-circle{
    color: rgb(11, 179, 62);
}

.row{
    display: flex;
}

.hidden{
    opacity: 0;
}

.input{
    position: relative;
    display: block;
    font-family: quantico;
    align-items: center;
    margin: 10px 0;
}

#toggle-eye{
    position: absolute;
    top: 29px;
    right: 8px;
}

#toggle-eye:hover, #pre-register-button:hover{
    cursor: pointer;
}

.validation{
    font-size: 12px;
}

#terms{
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin-right: 8px;
    background-color: #f6f6f6;
}

#pre-register-button{
    background-color: #af92b4;
    padding: 10px;
}

#pre-register-button:hover{
    background-color: #b34ab3;
    transition: .3s;
}

.home-button:hover{
    opacity:0.8;
}

@media screen and (min-width: 1600px) {
    body{
        width: 1600px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px){
    #body{
        display: block;
        padding-bottom: 2rem;
    }
    .home-button{
        position: inherit;
        display: block;
        padding: 1rem;
    }
    .register-title{
        margin: auto;
        padding-left: 0;
    }
    .register-header, .register-desc{
        text-align: center;
    }
    .register-desc{
        max-width: inherit;
    }
    .form{
        margin: auto;
        float: none;
        width: 85%;
    }
}
